nav .navbar-brand
{
    font-size: xx-large;
}

.button_img {
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.profile_thumb{
    width: 30px;
    height: 35px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#upload_img {
    width: 40%;
    min-width: 70px;
    margin-bottom: 15px;
}

#member_info {
    padding-bottom: 10px;
}

#addproject {
    width: 10%;
    min-width: 100px;
    margin-top: 30px;
}

.form-row {
    margin-bottom: 15px;
}

