{% extends "layout.html" %}

{% block title %}
    Add Project
{% endblock %}

{% block main %}
    <script>
        //If user checks checkbox in table head, clicks all checkboxes
        //https://stackoverflow.com/questions/70118692/how-to-check-all-checkboxes-in-a-table-and-do-a-job-for-each-checkbox-with-js
        $(document).ready(function() {
            var checkboxes = $(".form-check-input");
            $("#maincheck").on("change", function() {
                if ($("#maincheck").is(":checked")) {
                    for (var i = 0; i < checkboxes.length; i++){
                        $(checkboxes[i]).prop("checked", true);
                    }
                }
                else {
                    for (var i = 0; i < checkboxes.length; i++){
                        $(checkboxes[i]).prop("checked", false);
                    }
                }
            });
        });
    </script>

    <form action="/addproject" method="post">
        <div class="mb-3">
            <label for="pname"><strong>Project Name</strong></label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pname" maxlength="25" name="project_name" type="text" required>
        </div>
        <div class="mb-3">
            <label for="deadline"><strong>Deadline</strong></label>
            <input class="form-control mx-auto w-auto" id="deadline" name="deadline" type="datetime-local" required>
        </div>
        <div class="mb-3">
            <label for="prio"><strong>Priority</strong></label>
            <select class="form-control mx-auto w-auto" id="prio" name="priority" required>
                <option></option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="desc"><strong>Description</strong></label>
            <textarea class="form-control mx-auto w-auto" id="desc" maxlength="200" name="description" rows="4" cols="40"></textarea>
        </div>
        <div class="mb-3">
            <div class="table-responsive" style="max-height:300px; margin:auto">
                <table class="table table-bordered" id="teamtable" style="width:auto; margin:auto;">
                    <thead>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>ID #</th>
                        <th><input class="form-check-input" type="checkbox" id="maincheck"></th>
                    </thead>
                    <tbody>
                        {% for m in team %}
                        <tr>
                            <td>{{m["last_name"]}}</td>
                            <td>{{m["first_name"]}}</td>
                            <td name="eid">{{m["employee_id"]}}</td>
                            <td><input class="form-check-input" type="checkbox" value="{{m['id']}}" name="team_members"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add Project</button>
    </form>
{% endblock %}