{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                {% if projects %}
                <tr>
                    <th class="text-start">Name</th>
                    <th class="text-end">Created</th>
                    <th class="text-end">Deadline</th>
                    <th class="text-end">Status</th>
                    <th class="text-end">Priority</th>
                </tr>
                {% else %}
                <tr>
                    <th></th>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% if projects %}
                    {% for p in projects %}
                        <tr>
                            <td class="text-start"><a href="{{'/viewproject?id=%s' %p['id']}}">{{p["name"]}}</a></td>
                            <td class="text-end">{{p["created"]}}</td>
                            <td class="text-end">{{p["deadline"]}}</td>
                            <td class="text-end" style="color: {{p['status_color']}}">{{p["status"]}}</td>
                            <td class="text-end" style="color: {{p['priority_color']}}">{{p["priority"]}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            No Projects to Display
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        </div>
        <form action="/addproject" method="get">
            <button class="btn btn-primary" type="submit"><img src="/static/add_project.png" class="button_img">Create Project</button>
        </form>
    </main>
{% endblock %}